<div fxLayout="row" fxLayoutAlign="center center" class="language-card">
  <mat-card class="" fxFlex="30%">
    <mat-card-header  fxLayoutAlign="center center" class="main-title">
        <mat-card-title>Your account</mat-card-title>
    </mat-card-header>
   <mat-card-content>
<form [formGroup]="rForm" (submit)="submit()" fxLayout="column">
  <mat-form-field>
    <mat-label>Nivel</mat-label>
      <mat-select
      [compareWith]="compareLevel"
      class="col-sm-10 form-control"
      name="level"
      formControlName="level"
    >
      <mat-option [value]="level" *ngFor="let level of languageLevels">
        {{ level.name }}</mat-option
      >
    </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Idioma</mat-label>
        <mat-select
          class="col-sm-10 form-control"
          name="name"
          formControlName="name"
          [compareWith]="compareName"
        >
        <mat-option [value]="name" *ngFor="let name of languageNames">
        {{ name.name }}</mat-option
        >
        </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Fecha de obtención del título</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="date"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  <button  mat-raised-button color="primary" type="submit" [disabled]="rForm.invalid">
    Guardar
  </button>

  </form>
   </mat-card-content>
   </mat-card>
</div>
