<div class="container" fxLayout="column" fxLayoutGap="50px" fxLayoutAlign= "center center" >
<div *ngIf="user">
  <div class="card">
    <mat-card fxLayout="row">
      <mat-card-header fxLayout="column">
        <img mat-card-avatar src='../../../../assets/img/perfil.png' alt="Avatar">
        <mat-card-title>{{ user.name + ' ' + user.surname }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>      
        <mat-list>
          <mat-list-item>Email: {{ user.email }}</mat-list-item>
          <mat-list-item>Fecha de nacimiento: {{ user.birthdate }}</mat-list-item>
          <mat-list-item>Tel&eacute;fono: {{ user.phone }}</mat-list-item>
          <mat-list-item>NIF/NIE: {{ user.documentNumber }}</mat-list-item>
          <mat-list-item>Permisos de conducir: {{ user.license }}</mat-list-item>
          <mat-list-item>Direccion: {{ user.address | json }}</mat-list-item>
          <mat-list-item>Acerca de mi...
            <mat-form-field>
              <textarea matInput>{{user.aboutMe}}</textarea>
            </mat-form-field>
          </mat-list-item>
          <mat-list-item>Otras competencias
            <mat-form-field>
              <textarea matInput>{{user.otherCompetences}}</textarea>
            </mat-form-field>
          </mat-list-item>
        </mat-list>    
        <mat-card-actions fxLayoutAlign="end">
          <div class="flex-container">
            <div class="button-container">
              <button mat-mini-fab color="primary"><a [routerLink]="['/admin/profile/profile-student/account' ]">
                <mat-icon>edit</mat-icon></a>
              </button>
            </div>
          </div>
        </mat-card-actions>
       
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row">  
  <div class="cold-md-12" fxLayoutGap="50px" fxLayoutAlign= "center">
    <mat-card>
      <mat-card-header class="card-header">
        <mat-card-title><i class="material-icons">school</i>Formación académica</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="table-responsive">
          <table>
            <thead class="text-primary">
              <tr>
                <th>Tipo</th>
                <th>Nivel</th>
                <th>Título</th>
                <th>Centro</th>
                <th>Fecha</th>
                <th>Certificado</th>
                <th>Bilingüe</th>
                <th>Dual</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let study of user.studies; let i = index" fxLayoutGap="30px">
                <td>{{ study.level.name }}</td>
                <td>{{ study.grade?.name }}</td>
                <td>{{ study.title.name || study.title }}</td>
                <td>{{ study.institution.name || study.institution }}</td>
                <td>{{ study.date }}</td>
                <td>{{ study.certificate ? 'Sí' : 'No' }}</td>
                <td>{{ study.bilingue ? 'Sí' : 'No' }}</td>
                <td>{{ study.dual ? 'Sí' : 'No' }}</td>
                <td>
                  <div class="flex-container">
                    <div class="button-container">
                      <button mat-mini-fab color="primary"><a [routerLink]="['/admin/profile/profile-student/study', study.uid]">
                        <mat-icon>edit</mat-icon></a>
                      </button>
                    </div>
                    <div class="button-container">
                      <button mat-mini-fab color="warn" (click)="deleteStudy(study.uid)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <button mat-mini-fab color=""><a [routerLink]="['/admin/profile/profile-student/study']">
                <mat-icon>add_circle</mat-icon></a>
              </button>
            </tfoot>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<mat-divider></mat-divider>
<div class="row">  
  <div class="cold-md-12" fxLayoutGap="30px" fxLayoutAlign= "">
    <mat-card class="card">
      <mat-card-header class="card-header">
        <mat-card-title><i class="material-icons">assignment</i>Idiomas</mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-content">
        <div class="table-responsive">
          <table class="table tablestriped">
            <thead>
              <tr>
                <th>Nivel</th>
                <th>Idioma</th>
                <th>Fecha</th>
                <th>Acciones</th>
              </tr>
            </thead>
              <tbody>
                <tr *ngFor="let language of user.languages">
                  <td>{{ language.level.name }}</td>
                  <td>{{ language.name.name }}</td>
                  <td>{{ language.date }}</td>
                  <td>
                    <div class="flex-container">
                      <div class="button-container">
                        <button mat-mini-fab color="primary"><a [routerLink]="['/admin/profile/profile-student/language',language.uid]">
                          <mat-icon>edit</mat-icon></a>
                        </button>
                      </div>
                      <div class="button-container">
                        <button mat-mini-fab color="warn" (click)="deleteLanguage(language.uid)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                    </div>  
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <button mat-mini-fab color="green"><a [routerLink]="['/admin/profile/profile-student/language']">
                  <mat-icon>add_circle</mat-icon></a>
                </button>
              </tfoot>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
</div>
<mat-divider></mat-divider>
<!-- <mat-table [dataSource]='dataSource'>
  <ng-container matColumnDef="">
    <mat-header-cell *matHeaderCellDef> User</mat-header-cell>
    <mat-cell *matCellDef="let user"></mat-cell>
  </ng-container>

</mat-table> -->

<div *ngIf="!user" id="contenido">
  <p>Datos están siendo cargados...</p>
</div>
</div>